# Build and Release Folders
bin/
bin-release/

#bin-debug/
#bin-debug is necessary because it contains the assets loaded at runtime

# Other files and folders
.settings/
.DS_Store

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
